.navbar-brand {
    font-weight: bold;
    font-size: large;
}

.nav-item {
    font-weight: bold;
    font-size: large;
}

.card-text {
    font-weight: bold;
    color: blue;
    font-size: large;
}